# {{ ansible_managed }} {{ role_path }}
{% if ntp_server %}
server ida-gw.sysinst.ida.liu.se

restrict default kod limited nomodify nopeer notrap
logfile /var/log/ntp.log
{% else %}
server {{ ntp_srv_ip }}

restrict default kod limited nomodify nopeer noquery notrap
restrict 127.0.0.1
restrict ::1
{% endif %}

driftfile /var/lib/ntp/ntp.drift
