# {{ ansible_managed }}
# For more information about this file, see the ntp.conf(5) man page.

{% for item in ntp_servers %}
server {{ item }}
{% endfor %}

{% if is_ntp_server %}
restrict default kod limited nomodify nopeer notrap
logfile /var/log/ntp.log
{% else %}
restrict default kod limited nomodify nopeer notrap noquery
restrict 127.0.0.1
restrict ::1
{% endif %}

disable monitor
driftfile /var/lib/ntp/ntp.drift
